.App {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .display-reviews {
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 481px) {
  .display-reviews {
    grid-template-columns: 50% 50%;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  border: solid green;
}

#header h1 {
  background-color: cornsilk;
}

#header p {
  background-color: rgb(239, 245, 255);
}

.category-page {
  border: solid purple;
}

.select-reviews {
  border: solid yellow;
  display: flex;
  justify-content: center;
}

.display-reviews {
  border: solid pink;
  display: grid;
}

.review-card {
  margin: 0;
  padding: 7%;
  border: solid orange;
}

.strategy{
  background-color: rgb(217, 252, 217);
}
.hidden-roles{
  background-color:lavenderblush;
}

.dexterity {
  background-color: rgb(252, 244, 180);
}

.push-your-luck {
  background-color: lightcyan;
}

.roll-and-write {
  background-color: rgb(255, 209, 148);
}

.deck-building {
  background-color: rgb(208, 225, 250);
}

.engine-building {
  background-color: rgb(226, 226, 226);
}

.review-page {
  border: solid teal;
}

.review-display {
  margin: 0;
  padding: 7%;
  border: solid yellowgreen;
}

.new-comment {
  border: solid thistle;
}

.sort-comments {
  border: solid mediumaquamarine;
}

.display-comments {
  border: solid palevioletred;
}

.review-image {
  width: 80%;
  max-width: 250px;
  border-radius: 4px;
}