.App {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .display-reviews {
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 481px) {
  .display-reviews {
    grid-template-columns: 50% 50%;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  border: solid green;
}

#header h1 {
  background-color: red;
}

#header p {
  background-color: blue;
}

.category-page {
  border: solid purple;
}

.select-reviews {
  border: solid yellow;
  display: flex;
  justify-content: center;
}

.display-reviews {
  border: solid pink;
  display: grid;
}

.review-card {
  margin: 0;
  padding: 30px;
  border: solid orange;
}

.review-page {
  border: solid teal;
}

.review-display {
  border: solid yellowgreen;
}

.new-comment {
  border: solid thistle;
}

.sort-comments {
  border: solid mediumaquamarine;
}

.display-comments {
  border: solid palevioletred;
}

.review-image {
  width: 80%;
  max-width: 250px;
  border-radius: 4px;
}